<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.fathens.cordova.plugin.fabric.core" version="1.0.0" xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Fabric</name>
    <description>Cordova Plugin for Fabric</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova-android" version=">=4.1.0" />
        <engine name="cordova-ios" version=">=3.9.0" />
    </engines>

    <preference name="FABRIC_API_KEY" />

    <platform name="android">
        <dependency id="org.fathens.cordova.plugin.lang.kotlin" url="https://github.com/fathens/cordova-plugin-kotlin.git" commit="master" />

        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="io.fabric.ApiKey" android:value="$FABRIC_API_KEY"/>
        </config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FabricBasePlugin">
                <param name="android-package" value="org.fathens.cordova.plugin.fabric.FabricBase"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="platforms/android/src/main/kotlin/FabricBase.kt" target-dir="kotlin/org.fathens.cordova.plugin.fabric"/>

        <hook type="after_plugin_install" src="platforms/android/hooks/after_plugin_install.rb"/>
        <hook type="before_prepare" src="platforms/android/hooks/before_prepare.rb"/>
    </platform>

    <platform name="ios">
        <dependency id="org.fathens.cordova.plugin.lang.swift" url="https://github.com/fathens/cordova-plugin-swift.git" commit="master" />

        <config-file target="*-Info.plist" parent="Fabric">
            <dict>
                <key>APIKey</key>
                <string>$FABRIC_API_KEY</string>
                <key>Kits</key>
                <array>
                </array>
            </dict>
        </config-file>

        <config-file parent="/*" target="config.xml">
            <feature name="FabricBasePlugin">
                <param name="ios-package" value="FabricBase"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="platforms/ios/src/FabricBase.swift"/>

        <framework src="Fabric" type="podspec" spec="~> 1.6.11">
            <bridging-header import="Fabric/Fabric.h" />
        </framework>

        <hook type="after_prepare" src="platforms/ios/hooks/after_prepare.rb"/>
    </platform>
</plugin>
